<!DOCTYPE html>

<html>

<head>
    <title>Suggestions</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>

</div>
<div id="place_for_suggestions"></div>

<script>
$(function () {
  $("#test").on('click', function () {
    var Status = $(this).val();
    $.ajax({
      url: "/output",
      data: {
        text: $("textarea[name=Status]").val(),
        Status: Status
      },
      success: function(response) {
        $("#place_for_suggestions").html(response);
      },
      dataType : 'json'
    });
  });
});

</script>

</body>

</html>
